<div>
  <h2>Your Apps:</h2>
 <% @user_apps.each do |user_app| %>
  <div class="app-item">
    <a href="<%= user_app.app.link %>" class="app-link" style="background-color: <%= user_app.app.color %>;">
      <div class="app-shape <%= user_app.app.shape %>"></div>
    </a>
    <h3><%= user_app.app.name %></h3>
    <p><%= user_app.app.description %></p>
    <%= button_to 'Remove App', user_app_path(user_app.id), data: { turbo_method: :delete, confirm: 'Are you sure?' } %>
  </div>
<% end %>
</div>
...

<div>
  <h2>Add More Apps:</h2>
  <%= form_with url: '/user_apps', method: :post do |form| %>
    <% @available_apps.each do |app| %>
      <div>
        <%= check_box_tag "app_ids[]", app.id %>
        <%= label_tag "app_#{app.id}", app.name %>
      </div>
    <% end %>
    <%= submit_tag "Add Selected Apps" %>
  <% end %>
</div>




<style>
  .app-item {
    margin-bottom: 10px;
  }

  .app-link {
    display: inline-block;
    width: 50px; /* Size of the shape */
    height: 50px; /* Size of the shape */
    margin-right: 10px;
    text-decoration: none;
  }

  .app-shape {
    width: 100%;
    height: 100%;
    background-color: inherit; /* Inherits color from the parent link */
    border-radius: 50%; /* This makes it a circle, remove for a square */
  }

  .shape-circle {
  border-radius: 50%; /* Circle shape */
}

.shape-square {
  border-radius: 0; /* Square shape */
}
</style>